@import "tailwindcss";

@keyframes destaqueCard {
  0% {
    box-shadow: 0 0 0 0rem rgba(59, 130, 246, 0);
  }
  30% {
    box-shadow: 0 0 0 4px rgba(59, 130, 246, 0.5);
    border-color: #2563eb;
  }
  100% {
    box-shadow: 0 0 0 0rem rgba(59, 130, 246, 0);
  }
}

.animate-destaque {
  animation: destaqueCard 2s ease-in-out;
}